.dashboard-body {
  padding: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--a-shadow-medium);
  flex: 1;
  min-width: 250px;
}

.figures {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.section-divider {
  margin: 10rem 0;
  border: none;
  border-top: 4px solid #000000;
}

.chart-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.chart-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 10rem;
  border-bottom: 3px solid #88898a; 

}